.head {
  :global{
    .sub-title {
      color: #888;
      font-size: 14px;
      padding: 15px 0 9px 15px;
    }
    .not-square-grid .am-grid-icon {
      width: 40px;
      height: 60px;
    }
    .am-list-item {
      height: 13rem !important;
      margin-left: 2rem;
      margin-right: 2rem;
      border-bottom: 1px solid lightgrey !important;
      padding-left: 0px !important;
    }
    .my-list{
      height: 100%;
      overflow-y: auto;
    }
    .am-list-item img {
      width: 6.4rem;
      height: 6.4rem;

    }
    .am-list-line.am-list-line-multiple{
      padding-right: 0px !important;
    }
    .am-list-item .am-list-line .am-list-brief {
      font-size: 2.4rem;
    }
    .am-list-item .am-list-line-multiple .am-list-content{
      font-size: 3rem !important;
      margin-left: 2.8rem;
    }
    .am-list-item .am-list-line-multiple .am-list-extra {
      height: 100%;
      font-size: 2.4rem;
    }
    .am-modal-transparent {
      width: 80%;
      height: 60%;
    }
    .am-modal-transparent .am-modal-content .am-modal-body {
      display: flex;
      justify-content: space-between;
      font-size: 3rem;
      height: 80%;
    }
    .am-list-item .am-list-line-multiple .am-list-content {
      font-size: 2.8rem;
      margin-left: 1.0rem;
      margin-top: 1.8rem;
    }
    .am-list-item .am-list-line-multiple .am-list-extra {
      padding-top: 1.3rem;
    }
  }
  height: 100%;
  width: 100%;
  .data{
    width: 100%;
    height: calc(~"100% - 9rem");
    overflow-y: auto;
  }
  .select{
    width: 100%;
    height: 9rem;
    display: flex;
    flex-direction: row;
    .bar {
      width: 50%;
      height: 100%;
      .name {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .line{
        width: 100%;
        height:0.3rem;
        background-color: #0085e8;
      }
      .line1{
        width: 100%;
        height:0.1rem;
        margin-top: 0.2rem;
        background-color: #eeeeee;
      }
    }
  }
  .body{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    height: calc(~"100% - 9rem");
    .errorInfo{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
:global{
  .am-activity-indicator-content {
    font-size: 30px;
  }
  .am-activity-indicator-spinner-lg {
    width: 80px;
    height: 80px;
  }
  .am-activity-indicator.am-activity-indicator-toast .am-activity-indicator-toast {
    display: inline-block;
    position: relative;
    top: 40px;
    color: black;
    font-size: 26px;
  }
  .am-activity-indicator-content {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    border-radius: 7px;
    background-clip: padding-box;
    color: #fff;
    font-size: 15px;
    line-height: 40px;
    background-color: white;
  }
}

.errorPage{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .part{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

