.head {
  height: 100%;
  width: 100%;
  .first {
    .titleImg {
      width: 100%;
    }

  }
}
:global{
  .sub-title {
    color: #888;
    font-size: 14px;
    padding: 15px 0 9px 15px;
  }
  .not-square-grid .am-grid-icon {
    width: 40px;
    height: 60px;
  }
  .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content.column-num-3 .am-grid-text {
    font-size: 2.8rem;
  }
  .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content .am-grid-text {
    margin-top: 2.41rem;
  }
  .am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon {
    margin-top: 9px;
    width: 8.33rem !important;
  }
}
